*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorMain: ##FFFEFB;
}

body{
    font-family: sans-serif;
    background: var(--colorMain);
}

input, button{
    border-radius: .3rem;
}

button:hover{
    cursor: pointer;
}
